<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "From complexity to simplicty", articles_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to "Articles", articles_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Translations", translations_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Report bug" %></li>
      <li class="divider"></li>
      <li class="divider"></li>
      <% if user_signed_in? %>
        <li><%= link_to "... Hello #{current_user.username }", edit_user_registration_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </ul>
  </section>
</nav>

