<%= form_for(@translation) do |f| %>
  <% if @translation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@translation.errors.count, "error") %> prohibited this translation from being saved:</h2>

      <ul>
        <% @translation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :original_content %><br />
    <%= f.label @article.content %><br />
    <%= f.hidden_field :article_id, :value => @article.id %>
  </div>
  <div class="field">
    <%= f.label :translation %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
