<div class="row main-content">
  <div class="super-container large-9 columns">
    <%= render "articles/header" %>
    <div id="articles">
      <h3 style="padding-top:10px;"></h3>
      <% @articles.each do |article| %>
        <div class="row article-row">
          <div class="columns large-4 article-header">
            <%= link_to(article) do %>
              <div class="rating-summary row">
                <div class="rs-request columns large-3 <%= 'active' if @tab == 'top_requested' %>">
                  <div class="number"><%= article.total_requests %></div>
                  <div class="text">Requests </div>
                </div>
                <div class="rs-translation columns large-3 <%= 'active' if @tab == 'top_translated' %>">
                  <div class="number"><%= article.total_translations %></div>
                  <div class="text">Translations </div>
                </div>
                <div class="rs-reputation columns large-3 <%= 'active' if @tab == 'by_votes' %>">
                  <div class="number"><%= article.reputation %></div>
                  <div class="text">Reputation </div>
                </div>
                <div class="columns large-1 large-offset-1">
                </div>
              </div>
            <% end %>
          </div>
          <div class="article columns large-8">
            <div id="article-<%= article.id %>">
              <%= link_to article.name, article, :class => "article-name" %>
              <div class="row">
                <div class="columns large-4">
                  <h5 class="category">Category: <%= article.category.name %></h5>
                </div>
                <div class="columns large-4">
                  <h5 class="author">By: <%= article.author.username %></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="bottom-box">
      <p><%= link_to "New Article", new_article_path %></p>
    </div>
  </div>
  <%= render "articles/sidebar" %>
</div>
