<div class="row main-content">
  <div class="super-container large-9 columns index">
    <%= render "articles/header" %>
    <div id="articles">
      <h3 style="padding-top:10px;"></h3>
      <% @articles.each do |article| %>
        <div class="row article-row">
          <%= render "articles/baloons", :article => article %>
          <div class="article columns large-8">
            <div id="article-<%= article.id %>">
              <%= link_to article.name, article, :class => "article-name" %>
              <div class="row">
                <div class="columns large-4">
                  <h5 class="category">Category: <%= article.category.name %></h5>
                </div>
                <div class="columns large-4">
                  <h5 class="author">By: <%= article.author.username %></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="bottom-box">
      <p><%= link_to "New Article", new_article_path, :class => "button small" %></p>
    </div>
  </div>
  <%= render "articles/sidebar" %>
</div>
