<div class="super-container large-9 columns show">
  <div class="header">
    <h2 class="title"><%= link_to @article.name, @article %></h2>
  </div>
  <div class="article-content">
    <div class="row">
      <div class="columns large-2">
        <%= render "shared/vote_cell", :instance => @article %>
      </div>
      <div class="columns large-10">
        <%= simple_format @article.content %>
      </div>
    </div>
    <%= render "articles/avatar", :instance => @article %>
    <div class="row">
      <div class="columns">
        <%= render "articles/edition_box", :article => @article %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns large-4">
      <%= link_to "<< Back to Articles", articles_path, :class => "button small" %>
    </div>
  </div>
</div>
