<h1><%= @article.name %></h1>
<h2>
  Author: <%= @article.author.username %>
</h2>

<%= simple_format @article.content %>
<h3>Category: <%= link_to @article.category.name, categories_path() %></h3>

<p>
  <% if permitted_to? :edit, @article %>
    <%= link_to "Edit", edit_article_path(@article) %>
  <% end %>
  <% if permitted_to? :translate, @article %>
   | <%= link_to "Translate", translate_path(@article) %>
  <% end %>
  <% if !@article.already_requested?(current_user) %>
   | <%= link_to "Request translation", ask_path(@article) %>
  <% end %>

  <div>
    <span>This article has <%= pluralize @article.reputation_for(:points).to_i, "vote" %>
      <% if !@article.already_voted_by?(current_user) %>
        <%= link_to "Up", vote_article_path(@article, type: "up"), method: "post" %>
      <% end %>
    </div>
    <%= link_to "Back to Articles", articles_path %>
  </p>
